In [4]:
x=[30,40,50]
y=[30,10,40]
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

True
False
True
False

In [6]:
x=[30,10,40]
y=[30,150,20]
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True

In [3]:
x=[10,20,30]
t=tuple(x)
print(t)

(10, 20, 30)

In [4]:
t=(i*i for i in range(1,6))
print(t)

<generator object <genexpr> at 0x00000268457F60C0>

In [12]:
z=[10,20,30]
print(10 in z)
print(20 in z)
print(30 in z)
print(100 in z)
print(50 not in z)

True
True
True
False
True

In [13]:
x=[10,20,30]
x.clear()
print(x)

[]

In [18]:
x=10,
print(type(x))

<class 'tuple'>

In [21]:
x=[30,40,50]
z=tuple(x)
print(z)

(30, 40, 50)

In [24]:
t=tuple(range(1,10))
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [31]:
t=(10,20,30,40,50)
print(t[0])
print(t[-1])
print(t[:100])
print(t[1:4])
print(t[1::2])

10
50
(10, 20, 30, 40, 50)
(20, 30, 40)
(20, 40)

In [14]:
x= 10,20,30
print(type(x))

<class 'tuple'>

In [35]:
t=tuple('Diti')
print((t))

('D', 'i', 't', 'i')

In [41]:
x=(10,20,30,)
y=(40,50,60)
z=x+y
p=x*2
print(z)
print(p)

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 10, 20, 30)

In [48]:
v=(20,55,70,89,30,20,10)
print(len(v))
print(v.count(20))
print(v.index(20))
z=sorted(v)
print(z)
print(max(v))
print(min(v))

7
2
0
[10, 20, 20, 30, 55, 70, 89]
89
10

In [50]:
a=10
b=20
c=30
d=40
t=a,b,c,d
print(t)
print(type(t))

(10, 20, 30, 40)
<class 'tuple'>

In [55]:
t=(40,50,60,70)
a,b,c,d=t
print(t)

(40, 50, 60, 70)