In [5]:
for row in range(5,0,-1):
    for col in range(5,row-1,-1):
      print(col,end=' ')
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [7]:
for row in range(5,0,-1):
    a=5
    for col in range(1,row+1):
        print(a,end=' ')
        a=a-1
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [ ]:
 for row in range(1,6):
    for col in range(5,row-1,-1):
        print(col, end=' ')
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [11]:
for row in range(1,6):
    for col in range(1,row+1):
        print(col%2,end=' ')
    print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

In [12]:
for row in range(1,6):
    for col in range(row,0,-1):
        print(col,end=' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [29]:
for row in range(1,6):
    for col in range(5,0,-1):
        if col>row:
            print(' ',end=' ')
        else:
         print('*',end=' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *